html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    text-align: center;
}

.data {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 300px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

.data.visible {
    opacity: 1;
    visibility: visible;
}

.data li {
    color: white;
    background-color: dodgerblue;
    line-height: 2.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}
